@charset 'utf-8';
@import url(./my_reset.css);
@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
:root {
  --blackColor: #000000;
  --lightBlackColor: #333333;
  --grayColor: #777777;
  --whiteColor: #ffffff;
  --blueColor: #144aaa;
  --lightBlueColor: #f0f4ff;
  color: #144aaa;
  font-weight: bold;
  overflow: hidden;
  --fontSizeBig: 1.312rem;
  --fontSizeMedium: 0.875rem;
  --fontSizeSmall: 0.857rem;
}
.mw {
  max-width: 1440px;
  width: calc(100% - 10%);
  margin: auto;
}
/* header area start */
.hd {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  /* padding: 0 5rem; */
}
h1 a img {
  padding-top: 1rem;
  width: 9.5rem;
}
.hd nav {
  flex: 1;
}
.hd .gnb {
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.hd .gnb li {
  text-align: center;
  width: 200px;
}
.hd .gnb > li > a {
  padding: 2rem 1.5rem;
  font-size: var(--fontSizeBig);
}
.hd nav::before {
  content: "";
  position: absolute;
  opacity: 0;
  top: 10%;
  left: 0;
  background-color: var(--lightBlueColor);
  height: 170px;
  width: 100%;
  transition: 0.3s;
  visibility: hidden;
  z-index: 10;
}
.hd nav:hover::before {
  opacity: 1;
  visibility: visible;
}
.sub {
  display: block;
  position: absolute;
  visibility: hidden;
  text-align: center;
  width: auto;
  top: 130%;
  height: 0px;
  opacity: 0;
  color: var(--blackColor);
  font-size: 0.857rem;
  transition: 0.3s;
  z-index: 100;
}
/* 마우스 호버 원 표시 css Start */
.sub > li a::after {
  content: "";
  display: inline-block;
  height: 0px;
  width: 0px;
  background-color: var(--blueColor);
  border-radius: 50%;
  opacity: 0;
  transition: 0.3s;
  margin-left: 10px;
}
.sub > li a {
  font-size: var(--fontSizeSmall);
  vertical-align: middle;
}
.sub > li a:hover::after {
  height: 10px;
  width: 10px;
  opacity: 1;
}
/* 마우스 호버 원 표시 css End */

.hd nav:hover .sub {
  opacity: 1;
  height: 300px;
  visibility: visible;
}
.hd .gnb li:hover a {
  color: var(--blackColor);
}
.hd .sub > li:hover a {
  color: var(--blueColor);
}
.hd .right {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.hd .right a {
  padding-left: 1rem;
  font-weight: 200;
  font-size: var(--fontSizeMedium);
}
.hd .ham {
  display: none;
  align-items: center;
}
/* header area end */

/* swipe banner 1 area start */
.firstSwipe .firstSwipeList {
  display: flex;
  justify-content: center;
  z-index: 1;
  position: relative;
  padding-top: 50%;
}
.firstSwipeList img {
  position: absolute;
  width: 60%;
  top: 0;
  right: 0;
}
.firstSwipeList .info1 {
  position: absolute;
  width: 25%;
  top: 40%;
  transform: translateY(100% - 50%);
  left: 0;
}
.firstSwipeList .info1 h2 {
  font-size: 1.875rem;
}
.firstSwipeList .info1 p {
  font-size: 3.688rem;
  line-height: 1;
}
.firstSwipeList a {
  position: absolute;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/* swipe banner 1 area end */

/* mainVisual quick menu area start */
.mainVisual .quick {
  display: flex;
  justify-content: space-around;
  background-color: var(--lightBlueColor);
}
.mainVisual .quick a {
  color: var(--blackColor);
  padding: 2rem 1rem;
  font-size: 1.563rem;
  transition: 0.3s;
}
.mainVisual .quick a::after {
  color: var(--lightBlackColor);
  content: "\f061";
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-left: 15px;
  font-size: 1.4rem;
}
.mainVisual .quick a:hover {
  color: var(--blueColor);
}
/* mainVisual quick menu area end */

@media (max-width: 1440px) {
  .hd nav {
    display: none;
  }
  .hd .right {
    display: none;
  }
  .hd .ham {
    display: flex;
  }
  .hd .ham a:focus .hd nav {
    display: block;
  }
}
/* 
font-family: "Font Awesome 6 Free";
font-weight: 900;
Solid → 900
Regular, Brands → 400
Light → 300
 */
